/*
 * Globals
 */
 @font-face {
  font-family: RobotoMono-Regular;
  src: url('../font/roboto/RobotoMono-Regular.ttf'); 
}
 @font-face {
  font-family: RobotoMono-Medium;
  src: url('../font/roboto/RobotoMono-Medium.ttf'); 
}

input{
  text-align: center;
}

/*hehehe*/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */
.cover-container {
  max-width: 60em;
}

.btn {
  border-radius: 4.5px;
}

.btn-primary{
  background-color: #67DBBD;
  color: #1D2F3B;
  border: 2px #67DBBD solid;
}

.btn-primary:hover{
  background-color: transparent;
  color: #67DBBD;
  border: 2px #67DBBD dashed;
}

.btn-gede, .btn-gede:focus{
  background-color: transparent;
  color: #67DBBD;
  border: 2px #67DBBD dashed;
}

.btn-gede-act, .btn-gede:hover{
  background-color: #67DBBD;
  color: #1D2F3B;
  border: 2px #67DBBD solid;
}

/*
 * Header
 */
.navbar-toggler {
        background-color: #67DBBD;
      }

.navbar-toggler:focus {
        box-shadow:none;
      }

.navbar-brand{
  font-family: RobotoMono-Medium;
  color: white;
}

.navbar-brand:hover{
  font-family: RobotoMono-Medium;
  color: #67DBBD;
}

.navbar, h1{
  font-family: RobotoMono-Regular !important;
}

.nav-masthead .nav-link {
  color: rgb(255, 255, 255);
  border-bottom: .25rem solid transparent;
}

.active{
  color: #67DBBD !important;
}

.card{
  background-color: #274445;
}

.true{
  background-color: #628c37;
}

.wrong{
  background-color: #802c33;
}

.cardsub{
  background-color: #37585a;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #67DBBD;
  border-bottom-color: #67DBBD;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #67DBBD;
  border-bottom-color: #67DBBD;
}

.nav-masthead .active:hover {
  color: #67DBBD;
  border-bottom-color: #67DBBD;
}

/*hehe*/

.form-blue {
  border:2px #67DBBD dashed !important;
}

.form-blue:hover, .form-blue:focus {
  border:2px #67DBBD solid !important;
  box-shadow: none;
}

.form-control {
  border:2px #FFF dashed;
}

.form-control:hover, .form-control:focus {
  border:2px #67DBBD solid;
  box-shadow: none;
}

.text-bg-dark {
  background-color: #1D2F3B !important;
}

.w70 {
  width: 70% !important;
}

.br {
  border: 1px #FFF solid;
}

.br-r {
  border-top-right-radius:  4.5px;
  border-bottom-right-radius: 4.5px; 
}

.br-l {
  border-top-left-radius:  4.5px;
  border-bottom-left-radius: 4.5px; 
}

.dropdown{
  list-style: none;
}